[submodule "QtQuickStream"]
	path = QtQuickStream
	url = https://github.com/Roniasoft/QtQuickStream.git
[submodule "RoniaComponents"]
	path = RoniaComponents
	url = https://github.com/Roniasoft/RoniaComponents.git
